<!DOCTYPE html>
 <head>
  <meta charset="utf-8">
  <title>Reports</title>
  <style>
   .item {
    border: 1px solid black;
    padding: 10px;
    min-width: 580px
   }
   .details {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    width: 250px;
    min-width: 250px;
    margin: 10px 10px;
   }
  .action {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70px;
    display: block; 
    margin: 5px;
    vertical-align: middle;
   }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
 </head>
 <body>
  <h1>Reports</h1>
    <% for (var i = 0; i < newListItems.length; i++) { %>
        <div class="item">
          <div class="details">
            <h3>Id: <%= newListItems[i].messageId.split('-')[4] %></h3>
            <h3>State: <%= newListItems[i].messageState %></h3>
            <h3>
              <a href="http://www.google.com">Details</a>
            </h3>
          </div>
          <div class="details">
            <h3>Type: <%= newListItems[i].messageType %></h3>
            <h3>Message: <%= newListItems[i].messageText %></h3>
          </div>
          <div class="details">
           <button class="action" value="blocked" type="button" id="blocked_<%=newListItems[i].messageId%>">Block</button>
            <script type"text/javascript">
              $('#blocked_<%=newListItems[i].messageId%>').click( function() {
                y = $(document).scrollTop()
                $.post( "block/<%=newListItems[i].messageId%>", function (data) {
                  location.reload();
                  $('html, body').scrollTop(y);
                });
              });
            </script>
           <button class="action" value="resolved" type="button" id="resolve_<%=newListItems[i].messageId%>">Resolve</button>
            <script type"text/javascript">
              $('#resolve_<%=newListItems[i].messageId%>').click( function() {
                y = $(document).scrollTop()
                $.post( "resolve/<%=newListItems[i].messageId%>", function (data) {
                  location.reload();
                  $('html, body').scrollTop(y);
                });
              });
            </script>
 
          </div>
       </div>
    <% } %>
</body>
</html>
